.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9fa;
    padding: 20px 60px;
    box-sizing: border-box;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    position: relative;
    color: #2e363e;
}

.nav__notice-chat {
    color: white;
    background-color: tomato;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    position: absolute;
    left: 20px;
    bottom: 15px;
}

.nav__notice-ellipsis {
    background-color: tomato;
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    position: absolute;
    left: 27px;
    bottom: 27px;
}
